[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium-wire = "*"
selenium = "*"
urllib3 = "*"
argparse = "*"

[dev-packages]

[requires]
python_version = "3.8"
