[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium-wire = "*"
selenium = "*"
urllib3 = "*"
argparse = "*"

[requires]
python_version = "3.8.2"
